@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the underground connection webpage!</h1>
<p>@Html.ActionLink("See all artists", "Index", "Artists")</p>
<p>@Html.ActionLink("See all classifications", "Index", "Classifications")</p>
<p>@Html.ActionLink("Login or Register","Index","Account")</p>