@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Enter this site at your own will. We track data, current location, transactions, and viewing history. All info is allocated into the CIA's database. We work simultaneously with the U.S. PRISM sector to allow NSA to spy on its citizens.</p>
