<h1>New Artist:</h1>

<form action="/artists" method="post">
    <label for="name">Artist's Name</label>
    <input id="name" name="name" type="text">
    <label for="age">Artist's Age</label>
    <input id="age" name="age" type="number">
    <label for="email">E-mail</label>
    <input id="email" name="email" type="text">
    <label for="bio">Bio</label>
    <input id="bio" name="bio" type="text">
    <label for="seeking">Seeking</label>
    <input id="seeking" name="seeking" type="text">
    <label for="pastWork">Past Work</label>
    <input id="pastWork" name="pastWork" type="text">
    <button type="submit">Go!</button>
</form>